
.navbar{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.navbar ul {
    right: 0px;
    list-style: none;
    display: flex;
    
   
}
.navbar ul li{
    list-style: none;
    margin-right: 25px;

}
.navbar ul li a{
    border-radius: 5px;
    font-family: 'consolas';
    text-decoration: none;
    color:#03e9f4;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 4px;
    filter: hue-rotate(290deg);
}
.navbar ul li a:hover{
           color:black;
           background-color:#03e9f4 ;
           box-shadow: 0 0 5px #03e9f4 ;
} 
.nav-icon{display: none;}

/* *****************************body-wrapper*********************************** */
.body-wrapper{
    margin: 30px;/*  -------------------------------------->mrgin 30 */
    height: 100vh;
    position: relative;
    top: 30px;
}
/* *************************************home****************** */
.home{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0; padding: 0; border: 0;
}
.home-text .name{
    font-size:50px;
    color:#03e9f4;
    border-radius: 5px;
    filter: hue-rotate(290deg);
    /* learn more about this */
}
.home-text .name:hover{
    font-size:50px;
    color:black;
    background-color:#03e9f4;
    box-shadow: 0 0 5px #03e9f4 ;

}
/* **********************************************blog************************* */
.blogcarousel{
    overflow: hidden;
    width: 100%;
    height: 170px;
}
.blogheader h4{
    font-size: 30px;
  color:#03e9f4;
  filter: hue-rotate(290deg);

}
.blogheader h4::after{  /* lining under h4 */
    content: "";
  width: 0;
  height: 3px;
  background-color: #03e9f4;
  position: absolute;
  left : 0;
  bottom: -6px;
 transition: 1s;
}
.blogheader h4:hover::after{
    width: 100%;
}
/* ***************************about me**************************** */
.about-me .row{
    display: flex;
}
.col1{
    margin-right: 10%;
    flex-basis: 40%;
}
.col1 img{
    padding-top: 40px;
    padding-left: 60px;
}
.col2{
    flex-basis: 50%;
}
.col2 h1{ font-size: 35px;   color: #03e9f4;
filter: hue-rotate(290deg);}
.sub-tabs{display: flex;} 
.tab-links{
    cursor: pointer;
    margin-right: 25px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 200;
    flex-direction: row;
    position: relative;
    color: #03e9f4;
    filter: hue-rotate(290deg);
}

.tab-links::after{
    content:'';
    width:0%;
    height: 3px;
    left : 0;
    bottom: -6px;
    position: absolute;
    background-color: #03e9f4;
    transition: 0.5s;
}

.tab-links:hover::after{
    width: 100%;
}
.tab-contents ul{
    list-style: none;}
.tab-contents ul li{margin: 10px 0;}
.tab-contents ul li span{
    color: #03e9f4;
    filter: hue-rotate(290deg);
    font-weight: 300;
    font-size: 22px;
}
.tab-contents{
    display: none ;
}
.tab-contents.active-tab{
    display:block
}
/* ***********************************Contact-Me******************************** */

.contact-Me .container{
    margin: 10px;
    padding-top: 10px;
}
.contact-Me .container .row{
    display: flex;
}

.row .contact-left{flex-direction:column ; flex-basis: 50%;margin-right: 5%;padding-left: 30px;} 
.contact-left h1{
     font-weight: 700;
     font-size: 90px;
     margin: 5px ;
}
.contact-left p{
    font-weight: 100;
    font-size: 20px;
}
.row .contact-right{flex-direction:column ; flex-basis: 45%;padding-top: 50px;} 


.social-icons i{
    text-decoration:none;
    font-size: 25px;
    font-weight: 400;
    margin-right: 10px;
}
form input , form textarea {
    color: #fff;
    width: 300px;
    outline: #ababab;
    border: 5px;
    background: #000000;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}
.btn2
{   display: block;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 14px;
    color: #03e9f4;
    background-color: black;
    border: none;
    box-shadow: 0 0 5px #03e9f4 ;
    filter: hue-rotate(290deg);
} 
form .btn2{
    margin-left:3px ;
    width: 300px;
    font-size: 15px;
    padding: 5px;

}
.btn2:hover{
    color:black;
    background-color:#03e9f4 ;
    box-shadow: 0 0 5px #03e9f4 ;
}
/* **************************small screen*************************** */

@media only screen and (max-width:600px){
    .navbar ul{display: none;} 

    .nav-icon{ display: block;
        color: #03e9f4 ;
        filter: hue-rotate(290deg);}
    .navbar .fas{display: block; }

   .blogcarousel{height: 140px;} 

.about-me{
        padding-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
        .navbar ul{ 
            
            cursor: pointer;
            flex-direction: column;
        outline: none ;
        z-index: 2;
     overflow: hidden; 
         background: #262626;
        position: fixed;
        top: 0; right: 0;
        width: 200px;
      height: 100vh;
      padding-top: 50px; 
    transition: right 0.5s;} 
     .contact-left h1{
        font-size: 22px;
        font-weight: 400px;
     }      
     .contact-left .btn2 {
        margin-top: 20px;
        margin-left: 30px;
     }  
     .nav-icon {
        margin-right: 30px;
     } 

}
